{% extends 'shared/layout.html' %}

{% block extraCSS %}
<link rel="stylesheet" href="../static/home/css/home.css">
{% endblock %}

{% block maincontent %}
<div class="main-box">
    <h1>Welcome to the Project Management System!</h1>
    <strong>
        This application allows you to manage projects of any scale. Whether your project is
        as small as opening a taco truck, or as large as building a
        prospective start up, we are here for you!
    </strong>
    <p>Interested? Click <a class="sign-up-link" href="/sign_up"><strong>here</strong></a> to Sign Up.</p>
</div>
{% endblock %}