#boards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 1vw;
    margin-top: 5vh;
    row-gap: 5%;
    column-gap: 5%;
}

.separation-line {
    height: 0.5%;
    border: 2px dotted #FFFFFF;
}

.board {
    display: flex;
    background-color: #808080;
    width: 10vw;
    height: 15vh;
    border-radius: 20px;
    opacity: 90%;
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2E3E3F;
    border: 2px solid #000000;
    transition: 0.5s;
    padding: 1%;
}

.board:hover {
    opacity: 100%;
    transition: 0.5s;
    text-decoration: underline;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.3);
}

.board-name {
    margin-top: auto;
    margin-bottom: auto;
}

.users {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1vh;
}